
<div class="container-fluid h-100">
    <div class="row h-100">
     
        <div class="col-sm-2 top-padding shadow-sm">
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Master Data
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">GL Accounts</a></li>
                <li><a href="#" class="link-dark rounded">Vendor</a></li>
                <li><a href="#" class="link-dark rounded">Customer</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounting-collapse" aria-expanded="false">
              Accounting
            </button>
            <div class="collapse" id="accounting-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounting-gl" >General Ledger</a>
                  <div class="collapse" id="accounting-gl">
                    <ul class="btn-toggle-nav list-unstyled innerspace  pb-1 ">
                        <li><a href="#" class="link-dark rounded fw-normal">GL Accounts</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounting-ar" >Accounts Receivable</a>
                  <div class="collapse" id="accounting-ar">
                    <ul class="btn-toggle-nav list-unstyled innerspace  pb-1 ">
                        <li><a href="#" class="link-dark rounded fw-normal">Customer Invoice</a></li>
                        <li><a href="#" class="link-dark rounded fw-normal">Credit Memo</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounting-ap" >Accounts Payable</a>
                  <div class="collapse" id="accounting-ap">
                    <ul class="btn-toggle-nav list-unstyled innerspace  pb-1 ">
                        <li><a href="#" class="link-dark rounded fw-normal">Vendor Invoice</a></li>
                        <li><a href="#" class="link-dark rounded fw-normal">Debit Memo</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
             Reports
            </button>
            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Reports 1</a></li>
                <li><a href="#" class="link-dark rounded">Reports 1</a></li>
                <li><a href="#" class="link-dark rounded">Reports 1</a></li>
                <li><a href="#" class="link-dark rounded">Reports 1</a></li>
              </ul>
            </div>
          </li>
          <!-- <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              Account
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">New...</a></li>
                <li><a href="#" class="link-dark rounded">Profile</a></li>
                <li><a href="#" class="link-dark rounded">Settings</a></li>
                <li><a href="#" class="link-dark rounded">Sign out</a></li>
              </ul>
            </div>
          </li> -->
        </ul>
      </div>
    