<link href="/css/sidebars.css" rel="stylesheet">
<div class="container-fluid h-100">
    <div class="row h-100">
     
      <div class="col-sm-2 top-padding shadow-sm">
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false" id="mtab-1">
                Master Data
              </button>
              <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
                  <li><a href="/md-gl" class="link-dark rounded links">GL Accounts</a></li>
                  <li><a href="/md-vendor" class="link-dark rounded links" >Vendor</a></li>
                  <li><a href="/md-customer" class="link-dark rounded links">Customer</a></li>
                  <li><a href="/down" class="link-dark rounded links">Tax Rate</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounting-collapse" aria-expanded="false" id="mtab-2">
                Accounting
              </button>
              <div class="collapse" id="accounting-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
                  <li><a href="#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounting-gl" id="mtab-2-sub1" aria-expanded="false">General Ledger</a>
                    <div class="collapse" id="accounting-gl">
                      <ul class="btn-toggle-nav list-unstyled innerspace pb-1 " >
                          <li><a href="/ac-gl" class="link-dark rounded fw-normal links mtab-2-sub1">GL Accounts</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounting-ar" id="mtab-2-sub2">Accounts Receivable</a>
                    <div class="collapse" id="accounting-ar">
                      <ul class="btn-toggle-nav list-unstyled innerspace  pb-1 ">
                          <li><a href="/ar-ci" class="link-dark rounded fw-normal links mtab-2-sub2">Customer Invoice</a></li>
                          <li><a href="/down" class="link-dark rounded fw-normal links mtab-2-sub2">Credit Memo</a></li>
                          <!-- ar-cm, ap-dm, rp-vr -->
                      </ul>
                    </div>
                  </li>
                  <li><a href="#" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#accounting-ap" id="mtab-2-sub3" >Accounts Payable</a>
                    <div class="collapse" id="accounting-ap">
                      <ul class="btn-toggle-nav list-unstyled innerspace  pb-1 ">
                          <li><a href="/ap-vi" class="link-dark rounded fw-normal links mtab-2-sub3">Vendor Invoice</a></li>
                          <li><a href="/down" class="link-dark rounded fw-normal links mtab-2-sub3">Debit Memo</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#encoder-report-collapse" aria-expanded="false" id="mtab-3">
              Reports
              </button>
              <div class="collapse" id="encoder-report-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="/rp-vd" class="link-dark rounded">View Documents</a></li>
                  <li><a href="/rp-vr" class="link-dark rounded">View Transaction Report</a></li>
                  <li><a href="/rp-md" class="link-dark rounded">View Master Data</a></li>
                  <!-- <li><a href="#" class="link-dark rounded">Reports 1</a></li>
                  <li><a href="#" class="link-dark rounded">Reports 1</a></li> -->
                </ul>
              </div>
            </li>
          </ul>
      </div>
