<link href="/css/sidebars.css" rel="stylesheet">
<div class="container-fluid h-100">
    <div class="row h-100">
     
      <div class="col-sm-2 top-padding shadow-sm">
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#general-collapse" aria-expanded="false" id="utab-1">
                General 
              </button>
              <div class="collapse" id="general-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
                  <li><a href="/gn-companycode" class="link-dark rounded links">Company Code</a></li>
                  <li><a href="/gn-taxcategory" class="link-dark rounded links" >Tax Category</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#gl-collapse" aria-expanded="false" id="utab-2">
                  GL Account
                </button>
                <div class="collapse" id="gl-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
                    <li><a href="/gl-accounttype" class="link-dark rounded links">Account Type</a></li>
                    <li><a href="/gl-accountgroup" class="link-dark rounded links" >Account Group</a></li>
                  </ul>
                </div>
              </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false" id="utab-3">
              Reports
              </button>
              <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">Reports 1</a></li>
                  <li><a href="#" class="link-dark rounded">Reports 1</a></li>
                  <li><a href="#" class="link-dark rounded">Reports 1</a></li>
                  <li><a href="#" class="link-dark rounded">Reports 1</a></li>
                </ul>
              </div>
            </li>
          </ul>
      </div>
