<%- include("partials/header.ejs") -%>

<link rel="stylesheet" href="css/login.css">
<body class="text-center">
    
<main class="form-signin">
  <form method="post" action="/login">
    <img class="mb-4" src="images/accounting.png" alt="" width="250" height="80">
    <!-- <h1 class="h3 mb-3 fw-normal">Please sign in</h1> -->
    <% for (let i = 0;i<errors.length; i++){ %>
      <label> <%= errors[i] %></label>
     <%}%>
     
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
</main>


    
  </body>
</html>
